.App {
  background-color: lightblue;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.board {
  display: grid;
  grid-template-rows: 100px 100px 100px;
  grid-template-columns: 100px 100px 100px;
}

.square {
  width: 100px;
  height: 100px;
  background-color: #eee;
  border: 2px black solid;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 55px;
}

.winning-message {
  margin-top: 15px;
  font-size: 24px;
  color: seagreen;
}

.buttons button{
  margin: 20px;
  padding: 10px;
  border: none;
  border-radius: 5px;
}

.buttons button:hover{
  cursor: pointer;
}

.undo {
  background-color: lightgrey;
}

.restart-button {
  background-color: blue;
  color: white;
}

.hidden {
  visibility: hidden;
}